@import url("https://fonts.googleapis.com/css2?family=Cormorant+Upright&display=swap");
html,
body,
#root {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  cursor: url("/frog.svg"), default;
}

canvas {
  width: 100%;
  height: 100%;
  background-color: #1d1d1d;
  cursor: url("/frog.svg"), default;
}

.draft {
  background-color: #ffdea2;
}

.scrollArea {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow: auto;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #000000;
}

a {
  position: absolute;
  display: block;
  z-index: 1;
  bottom: 0;
  left: 0;
  margin: 10px;
  font-family: "Cormorant Upright", serif;
  color: #faf6ce;
  font-size: 18px;
  text-decoration: none;
  cursor: url("/frog.svg"), pointer;
}

#name::before {
  background-color: #faf6ce;
  content: "";
  display: inline-block;
  height: 1px;
  margin-right: 10px;
  transition: all 0.5s cubic-bezier(0.25, 0.8, 0.25, 1);
  width: 0.7rem;
}

a:hover #name::before {
  background-color: #faf6ce;
  width: 3rem;
}
